# Узлы и окружения
node_modules/
venv/
env/
.env

# Базы данных
*.db
*.sqlite
*.sqlite3

# Кэш и логи
*.log
.DS_Store
__pycache__/
*.pyc

# Скрипты-генераторы (по желанию, оставляем их, но исключаем мусор)
temp*
*.tmp
